#### Tuple Assignments

In [1]:
# 1. Write a Python program to create a tuple
t = ()
print(t)

()

In [3]:
# 2. Write a Python program to create a tuple with different data types
t = ('Tutor Joes', True, 'T', 3.21, 10)
print(t)

('Tutor Joes', True, 'T', 3.21, 10)

In [6]:
# 3. Write a Python program to create a tuple with numbers and print one item 
n = (5, 10, 15, 20, 25)
print(n[2])
print(type(n))

15
<class 'tuple'>

In [9]:
# 4. Write a Python program to unpack a tuple in several variables
t = (4, 8, 3) 
a , b, c = t
print(a, b, c)

4 8 3

In [13]:
# 5. Write a Python program to add an item in a tuple 
l= (10, 40, 50, 70, 90)
n = 20
c = l + (n,)
print(c)

(10, 40, 50, 70, 90, 20)

In [16]:
# 6. Write a Python program to convert a tuple to a string
t = ('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's')
a = ''
for i in t:
    a+=i
print(a)

Tutor Joes

In [19]:
# 7. Write a Python program to get the 4th element and 4th element from last of a tuple
t= ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')
n4= t[3]
l4= t[-4]
print(f"4th Elements From Tuple :{n4}")
print(f"4th Elements From Last Tuple :{l4}")

4th Elements From Tuple :e
4th Elements From Last Tuple :u

In [20]:
# 8. Write a Python program to create the colon of a tuple
l = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
c= l[:]
print("Copy:",c)

Copy: ('Tutor', 'J', 23, 56.67, [23, 12], True)

In [21]:
# 9. Write a Python program to find the repeated items of a tuple
t = (2, 34, 45, 6, 7, 2, 4, 5, 78, 34, 2)
item = int(input("Enter the item to count:"))
c = t.count(item)
print(c)

Enter the item to count: 2

3

In [30]:
# 10. Write a Python program to check whether an element exists within a tuple
t =('T', 'u', 't', 'o', 'r', ' ', 'J', 'o', 'e', 's',8) 
s=str(t)
item = input("Enter the element:")
if item in s:
    print(f"'{item}' in Tuple = True")
else:
    print(f"'{item}' in Tuple = False")

Enter the element: 8

'8' in Tuple = True

In [31]:
# 11. Write a Python program to convert a list to a tuple
l = [12, 45, 87, 54, 89, 4] 
t = tuple(l)
print(t)

(12, 45, 87, 54, 89, 4)

In [36]:
# 12. Write a Python program to remove an item from a tuple
t= (23, 45, 56, 68, 10, 45, 7, 9)
item = 56
c = tuple(i for i in t if i != item)
print(c)

(23, 45, 68, 10, 45, 7, 9)

In [41]:
# 13. Write a Python program to slice a tuple
t= (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
s = t[3:-2]
print(s)

(40, 50, 60, 70, 80)

In [43]:
# 14. Write a Python program to find the index of an item of a tuple
t = (23, 45, 67, 78, 89, 90, 34, 56) 
item = 78
s = t.index(item)
print("Index Number :",s)

Index Number : 3

In [44]:
# 15. Write a Python program to find the length of a tuple
t = ( ("Name", "Ram"), ("Age", 23), ("City", "Salem"), ("Mark", 422) )
s = dict(t)
print(s)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

In [45]:
# 17. Write a Python program to unzip a list of tuples into individual lists
t = [ (10,30), (60,90), (20,50) ]
l = list(zip(*t))
print(l)

[(10, 60, 20), (30, 90, 50)]

In [49]:
# 18. Write a Python program to reverse a tuple
t =( 23, 45, 67, 78, 89, 90, 34, 56 )
m = t [::-1]
print ("After Reverse : ",m)

After Reverse :  (56, 34, 90, 89, 78, 67, 45, 23)

In [53]:
# 19. Write a Python program to convert a list of tuples into a dictionary
t =[ ("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", 
"Female") ]
result ={}
for key, value in t:
    if key in result:
        result[key].append(value)
    else:
        result[key] = [value]
print(result)

{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

In [54]:
# 20. Write a Python program to print a tuple with string formatting
fruits = ("watermelons", "strawberries", "mangoes", "bananas", 
          "grapefruits", "oranges", "apples", "pears")

print("Fruits {}".format(fruits))

Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

In [58]:
# 21. Create a tuple with single item 23
t = 23
m = (t,)
print(m[0])
print(type(m))

23
<class 'tuple'>

In [59]:
# 22. Unpack the tuple into 5 variables
Tuple = (11, 22, 333, 44, 55)
for i in Tuple:
    print(i)

11
22
333
44
55

In [62]:
# 23. Swap two tuples in Python
a = (10,)
b = (20,)
a,b = b,a
print("a:", a[0])
print("b:", b[0])

a: 20
b: 10

In [63]:
# 24. Copy specific elements from one tuple to a new tuple
t = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) 
s = 2
e = 8
nt = t[s:e]
print(nt)

(30, 40, 50, 60, 70, 80)

In [66]:
# 25. Modify the tuple 
t = ( 10, 20, 30, 40, 50 )
item = 36
t = list(t)
t[2]  = item
print(tuple(t))

(10, 20, 36, 40, 50)

In [13]:
# 26. Sort a tuple of tuples by 2nd item
t = ( ('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18) )
t_sorted = sorted(t, key=lambda x: x[1])
print(t_sorted)

[('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53)]

In [14]:
# 27. Counts the number of occurrences of item 30 from a tuple
t = (30, 50, 10, 30, 70, 50, 30)
item = 30
m = t.count(item)
print(m)

3

In [18]:
# 28. Write a Python program to compute element-wise sum of given tuples
A = (2, 5, 8) 
B = (6, 5, 1) 
C = (1, 4, 7) 
D = (3, 7, 2) 
s = tuple(sum(i) for i in zip(A,B,C,D))
print(s)

(12, 21, 18)

In [23]:
# 29. Write a Python program to sort a tuple by its float element
t = [ ('Ram', '89.20'), ('Siva', '76.45'), ('Pooja', '84.40'), ('Tara', '68.43'), ('Jeeva', '91.40') ] 
t_sorted = sorted(t, key=lambda x: x[1])
t_s= t_sorted[::-1]
print(t_s)

[('Jeeva', '91.40'), ('Ram', '89.20'), ('Pooja', '84.40'), ('Siva', '76.45'), ('Tara', '68.43')]

In [27]:
# 30. Write a Python program to replace last value of tuples in a list
t = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]
value = 10
r = list(i[:-1] + (value,) for i in t)
print(r)

[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

In [29]:
# 31. Write a Python program to Extract tuples having K digit elements
t = [ (47, 23), (3, 78), (22, 53), (121, 45), (7,) ]
k =2
s = [i for i in t if all(len(str(x)) == k for x in i)]
print(s)

[(47, 23), (22, 53)]

In [31]:
# 32. Write a Python program to Extract Symmetric Tuples
t= [ (18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18) ]
st= set()
for i in t:
    if i[::-1] in t and i[::-1] !=t:
        st.add(tuple(sorted(i)))
print(st)

{(2, 9), (18, 23)}

In [33]:
# 33. Write a Python program to Sort Tuples by their Maximum element
t = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]
s = sorted(t, key= max, reverse= True)
print(s)

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [34]:
# 34. Write a Python program to Remove nested records from tuple
t = (10, 20, (30,), 40, (50, 60), 70)
s= tuple(x for x in t if not isinstance(x, tuple))
print(s)

(10, 20, 40, 70)

In [35]:
# 35. Write a Python program to Elements Frequency in Mixed Nested Tuple
from collections import defaultdict

mixed_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

frequency_dict = defaultdict(int)

for item in mixed_tuple:
    if isinstance(item, tuple):
        for sub_item in item:
            frequency_dict[sub_item] += 1
    else:
        frequency_dict[item] += 1

frequency_dict = dict(frequency_dict)

print("Mixed Nested Tuple:", mixed_tuple)
print("Elements Frequency:", frequency_dict)

Mixed Nested Tuple: (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)
Elements Frequency: {10: 2, 20: 2, 30: 1, 40: 1, 50: 1, 60: 2, 70: 1}

In [37]:
# 36. Write a Python program to get unique elements in nested tuple
t = [ (1, 3, 5), (4, 5, 7), (1, 2, 6), (10, 9), (10,) ]
s = set()
for i in t:
    for x in i:
        s.add(x)
print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [38]:
# 37. Write a Python program to Concatenate tuples to nested tuples
t1=  ((18, 23, 2, 9),)
t2 =  ((10, 3, 11),)
t = t1 + t2
print(t)

((18, 23, 2, 9), (10, 3, 11))

In [39]:
# 38. Write a Python program to Sort by Frequency of second element in Tuple List
from collections import Counter
t = [ (2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8) ]
f = Counter(i[1] for i in t)
s = sorted(t, key= lambda x : f[x[1]], reverse = True)
print(s)

[(2, 7), (3, 7), (8, 7), (2, 5), (6, 5), (9, 8)]

In [44]:
# 39. Write a Python program to Sort lists in tuple
t =( [10, 50, 60], [80, 20, 30], [70, 100, 40], (90,) )
f = tuple(sorted(i) if isinstance(i, list) else i for i in t)
print(f)

([10, 50, 60], [20, 30, 80], [40, 70, 100], (90,))

In [45]:
# 40. Write a Python program to Order Tuples using external List
t = [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ]
s = sorted(t)
print(s)

[('A', 67), ('B', 68), ('C', 69), ('D', 70)]

In [50]:
# 41. Write a Python program to Filter Tuples by Kth element from List
t = [ ('B', 68), ('D', 70), ('A', 67), ('C', 69) ] 
fl= [67 , 70 , 71, 75, 69]
k= 1
s = [i for i in t if i[k] in fl]
print(s)

[('D', 70), ('A', 67), ('C', 69)]

In [57]:
# 42. Write a Python program to Closest Pair to Kth index element in Tuple
t = [ (23, 18), (9, 2), (2, 3), (9, 18), (23, 2) ]
g = (5,10)
k = 1
c = min(t, key=lambda i: abs(i[k] - g[k]))
print(c)

(2, 3)

In [60]:
# 43. Write a Python program to Tuple List intersection (Order irrespective)
l1=[ (3, 4), (5, 6), (9, 10), (4, 5) ] 
l2=[ (5, 4), (3, 4), (6, 5), (9, 11) ]
intersection = [t for t in l1 if set(t) in [set(x) for x in l2]]
print(intersection)

[(3, 4), (5, 6), (4, 5)]

In [61]:
# 44. Write a Python program to Intersection in Tuple Records Data
l1= [ ('A', 65), ('D', 68), ('B', 66) ]
l2=  [ ('D', 68), ('C', 67), ('A', 65) ]
intersection = [t for t in l1 if set(t) in [set(x) for x in l2]]
print(intersection)

[('A', 65), ('D', 68)]

In [62]:
# 45. Write a Python program to Unique Tuple Frequency (Order Irrespective)
l = [ (3, 4), (1, 2), (4, 3), (5, 6) ]
f=  {frozenset(t) for t in l}
u = [tuple(sorted(t)) for t in f]
c = len(u)
print(c)

3

In [64]:
# 46. Write a Python program to Skew Nested Tuple Summation
t = (1, (2, (3, (4, (5, None)))))
s = 0
c = t
while c is not None:
    s += c[0]
    c = c[1]
print(s)

15

In [66]:
# 47. Write a Python program to Convert Binary tuple to Integer
t = (1, 0, 1, 0)
b = ''.join(str(b) for b in t)
d = int(b,2)
print(d)

10

In [68]:
# 48. Write a Python program to Tuple XOR operation
t1=  (10, 4, 6, 9)
t2= (5, 2, 3, 3)
t = tuple(a ^ b for a,b in zip(t1,t2))
print(t)

(15, 6, 5, 10)

In [70]:
# 49. Write a Python program to AND operation between Tuples
t1=  (10, 4, 6, 9)
t2= (5, 2, 3, 3)
t = tuple(a & b for a,b in zip(t1,t2))
print(t)

(0, 0, 2, 1)

In [71]:
# 50. Write a Python program to Elementwise AND in tuples
t1=  (10, 4, 6, 9)
t2= (5, 2, 3, 3)
t = tuple(a & b for a,b in zip(t1,t2))
print(t)

(0, 0, 2, 1)